{# src/OC/PlatformBundle/Resources/views/Advert/add.html.twig #}

{% extends "OCPlatformBundle::layout.html.twig" %}

{% block title %}
  Supprimer une annonce - {{ parent() }}
{% endblock %}

{% block ocplatform_body %}
  <h2>Vous voulez vraiment supprimer cette annonce ?</h2>

 
  <p>
    En construction
  </p>

  

{% endblock %}